{% extends 'index.html'%}
{% block forma%}


<div class="container">
  <div class="row">
   <div class="col s12 m6 z-depth-4 hoverable">
     <div class="card blue darken-1">
       <div class="card-content white-text">
         <span class="card-title">Formular i Njoftimit</span>
         <p>Hyrje në aktivitetin e Komunikimeve Elektronike.</p>
       </div>
       <div class="card-action center-align">
         <a href="/formulari">  <h3> Formulari</h3></a>

       </div>
     </div>
   </div>

   <div class="col s12 m6 z-depth-4">
     <div class="card blue darken-1">
       <div class="card-content white-text">
         <span class="card-title">Lista</span>
         <p>Ketu mund te gjenden listat e detajuara e te gjitha formulareve te plotesuara. </p>
       </div>
       <div class="card-action center-align">
         <a href="/list"><h3>Lista</h3></a>

       </div>
     </div>
   </div>
 </div>
</div>


<!---******** /nav**********--->

{% endblock %}
