<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>ARKEP</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/materialize.css')}}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals.min.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals-rtl.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals-rtl.min.css" rel="stylesheet" type="text/css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>

    <div class="container">

      <img class="logo" src="{{url_for('static', filename='images/logo.png')}}">

    </div>

    <div class="panel panel-primary">    </div>

<!---******** nav**********--->
    <div class="container">
      <div class="row">
       <div class="col s12 m6 z-depth-4 hoverable">
         <div class="card blue darken-1">
           <div class="card-content white-text">
             <span class="card-title">Formular i Njoftimit</span>
             <p>Hyrje në aktivitetin e Komunikimeve Elektronike.</p>
           </div>
           <div class="card-action center-align">
             <a href="/formulari">  <h3> Formulari</h3></a>

           </div>
         </div>
       </div>

       <div class="col s12 m6 z-depth-4">
         <div class="card blue darken-1">
           <div class="card-content white-text">
             <span class="card-title">Lista</span>
             <p>Ketu mund te gjenden listat e detajuara e te gjitha formulareve te plotesuara. </p>
           </div>
           <div class="card-action center-align">
             <a href="/list"><h3>Lista</h3></a>

           </div>
         </div>
       </div>
     </div>
    </div>


  <!---******** /nav**********--->
<div class="panel panel-primary">    </div>

{% block forma %}



{% endblock %}

<!---***************************** footer **********************************************-->
       <!-- <div class="container blue darken-1 footeri responsive-menu z-depth-4 center-align">
          <div class="row">
            <div class="col-xs-12 col-md-6 center-align">
              <div class="row">
              <div class="col-md-12 ">
              <i class="medium material-icons "> info </i> <h3 class="">Informata:</h3><br>
            </div>
            <div class="col-md-12 ">
              <p class="lead ">Adresa: Qyteza Pejton,<br>
                Rr. Mujo Ulqinaku nr. 7, 10 000<br>
                Prishtinë<br>
                Republika e Kosovës</p>
              </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 center-align">
              <i class="medium material-icons "> contact_phone </i>
              <h3>Kontakti:</h3><br>
              <p class="lead">
                info@arkep-rks.org<br>
              <a href="www.arkep-rks.org"> www.arkep-rks.org </a> <br>
                Tel: + 381 (38) 212-345<br>
                Fax: + 381 (38) 212 399 </p>
            </div>
          </div>
      </div>


  <div class="container">
    <div class="row">

    </div> -->

<div class="panel panel-primary z-depth-4  blue hoverable darken-1">    </div>
<div class="panel panel-primary z-depth-4  blue hoverable darken-1">    </div>

</div>


  <!-- javascritp -->

  <script type="text/javascript">

</script>

    <!--Material design -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-combined.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <!-- <script src="js/bootstrap.min.js"></script> -->

  </body>
</html>
