<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>ARKEP</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals.min.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals-rtl.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.muicss.com/mui-0.9.9-rc2/extra/mui-noglobals-rtl.min.css" rel="stylesheet" type="text/css" />

  </head>

  <body>

    <div class="container">

      <img class="logo" src="images/logo.png">

    </div>

    <div class="panel panel-primary">    </div>

    <div class="container">
      <div class="alert alert-info alert1" role="alert">PYETËSORI PËR OFRUESIT E SHËRBIMEVE TË LINJAVE ME QIRA</div>
    </div>
<!--*************************************Data******************************-->
  <div class="container">
     <div class="row">
       <div class="col-md-6">
        <h3> Tre mujori i:</h3>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-4]*(\.[0-4]+)?" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Tre mujori...</label>
        <span class="mdl-textfield__error">Ju Lutem shenoni vetem njeri nga tre mujoret: 1 ose 2 ose 3 ose 4!</span>
        </div>
      </div>
      <div class="col-md-6">
        <h3> I vitit:</h3>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
        <label class="mdl-textfield__label" for="sample4">I vitit...</label>
        <span class="mdl-textfield__error">Shenoni vitin sakt me numra!</span>
        </div>
      </div>
    </div>
 </div>

    <div class="container">
    <div class='col-md-6'>
      <h5> Periudha prej:</h5>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-6'>
      <h5> Deri me:</h5>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!--*************************************menu*****************************-->

    <div class="container">

       <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar ">
            <div class="menu">
                <a href="#step-1" class="mdl-tabs__tab  is-active">
                  <button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                  data-placement="top" data-content="Të dhënat për ndërmarrjen">
                  1</button></a>
                <a href="#step-2" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                  data-placement="top" data-content="Të dhënat për ndërmarrjen">
                  2</button></a>
                <a href="#step-3" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 3</button></a>
                <a href="#step-4" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 4</button></a>
                <a href="#step-5" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 5</button></a>

                <a href="#step-6" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 6</button></a>
                <a href="#step-7" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 7</button></a>
                <a href="#step-8" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 8</button></a>
                <a href="#step-9" class="mdl-tabs__tab"><button type="button" class="mui-btn mui-btn--small mui-btn--fab mui-btn--primary" data-toggle="popover"
                 data-placement="top" data-content="Të dhënat për ndërmarrjen">
                 9</button></a>
            </div>
          </div>

<!---***************************** hapi 1 **********************************************-->

          <div class="mdl-tabs__panel is-active responsive-menu" id="step-1">

            <p>step1</p>
            <form class="mui-form">
              <legend>Title</legend>
              <div class="mui-textfield">
                <input type="text" placeholder="Input 1">
              </div>
              <legend>Title</legend>
              <div class="mui-textfield">
                <input type="text" placeholder="Input 2">
              </div>
              <div class="mui-textfield">
                <textarea placeholder="Textarea"></textarea>
              </div>
              <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
            </form>

            <div class="alert alert-danger" role="alert">
              SHËNIM: Për përkufizimin e elementeve të infrastruktures ju lutemi klikoni tek <a href"#">SKEMA</a>
            </div>

    <!---***************************** hapi 2 **********************************************-->


          </div>
          <div class="mdl-tabs__panel responsive-menu" id="step-2">
            <p>step 2</p>

    <!---***************************** hapi 3 **********************************************-->


          </div>
          <div class="mdl-tabs__panel responsive-menu" id="step-3">
            <p>step 3</p>

          </div>

  <!---***************************** hapi 4 **********************************************-->

         <div class="mdl-tabs__panel responsive-menu" id="step-4">
           <p>step4 </p>
         </div>

 <!---***************************** hapi 5 **********************************************-->


         <div class="mdl-tabs__panel responsive-menu" id="step-5">
           <p>step5 </p>
         </div>

<!---***************************** hapi 6 **********************************************-->

         <div class="mdl-tabs__panel responsive-menu" id="step-6">
           <p>step6 </p>
         </div>

<!---***************************** hapi 7 **********************************************-->


         <div class="mdl-tabs__panel responsive-menu" id="step-7">
           <p>step7 </p>
         </div>

<!---***************************** hapi 8 **********************************************-->


         <div class="mdl-tabs__panel responsive-menu" id="step-8">
           <p>step8 </p>
         </div>

<!---***************************** hapi 9 **********************************************-->

         <div class="mdl-tabs__panel responsive-menu" id="step-9">
           <p>step9 </p>
         </div>

<!---***************************** </hapat> **********************************************-->


        </div>
    </div>


<!---***************************** footer **********************************************-->
     <div class="container footeri">
        <div class="row">
          <div class="col-md-6">
            <h3>Informata:</h3><br>
            <p class="lead">Adresa: Qyteza Pejton,<br>
              Rr. Mujo Ulqinaku nr. 7, 10 000<br>
              Prishtinë<br>
              Republika e Kosovës</p>
          </div>
          <div class="col-md-6">
            <h3>Kontakti:</h3><br>
            <p class="lead">
              info@arkep-rks.org<br>
            <a href="www.arkep-rks.org"> www.arkep-rks.org </a> <br>
              Tel: + 381 (38) 212-345<br>
              Fax: + 381 (38) 212 399 </p>
          </div>
        </div>
    </div>




  <!-- javascritp -->

  <script type="text/javascript">
   $(function () {
       $('#datetimepicker6').datetimepicker();
       $('#datetimepicker7').datetimepicker({
           useCurrent: false //Important! See issue #1075
       });
       $("#datetimepicker6").on("dp.change", function (e) {
           $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
       });
       $("#datetimepicker7").on("dp.change", function (e) {
           $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
       });
   });
</script>

    <!--Material design -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-combined.min.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-angular-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-angular-combined.minjs"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-react-combined.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/extra/mui-react-combined.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="js/bootstrap.min.js"></script>
  </body>
</html>
