{% extends 'index.html'%}
{% block forma%}
<script type="text/javascript">
    $(document).ready(function(){
        $('.remove').click(function(event){
            event.preventDefault();
            var url = this.href;
            var id = this.id;
            $.post(url, function(data){
                if(data.removed == true){
                    $('#'+id).parent().parent().remove();
                }

            }).fail(function(){
                alert("Something wrong happened");
            });;
        });
    });
</script>


<div class="container z-depth-5">
<table class="table">
      <tr>
        <th>Emri</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
  {% for rekordi in rekordet %}
  <tr class="hoverable">
    <td >{{ rekordi['nderrmarja']['emri'] }}</td>
    <td>{{ rekordi['nderrmarja']['email'] }}</td>
  <td>
    <a class="remove" id="{{ rekordi._id }}" href="{{ url_for('main.remove' , remove_id=rekordi._id)}}" > Delete</a> |
    <a href="{{ url_for('main.raporti' , report_id=rekordi._id)}}">View</a>
  </td>
</tr>
 {% endfor %}
</table>
</div>

  <div class="panel panel-primary">    </div>
{% endblock %}
